# Check the formated data

### captions_val2017

In [1]:
import pandas as pd

df = pd.read_csv("english/csv/captions_val2017_converted.csv")
df.head()

,id,file_name,flickr_url,coco_url,height,width,image_id,id_anno,caption
0,179765,000000179765.jpg,http://farm3.staticflickr.com/2824/10213933686...,http://images.cocodataset.org/val2017/00000017...,480,640,179765,38,A black Honda motorcycle parked in front of a ...
1,179765,000000179765.jpg,http://farm3.staticflickr.com/2824/10213933686...,http://images.cocodataset.org/val2017/00000017...,480,640,179765,182,A Honda motorcycle parked in a grass driveway
2,190236,000000190236.jpg,http://farm1.staticflickr.com/244/535469198_ee...,http://images.cocodataset.org/val2017/00000019...,393,640,190236,401,An office cubicle with four different types of...
3,331352,000000331352.jpg,http://farm1.staticflickr.com/53/136223761_776...,http://images.cocodataset.org/val2017/00000033...,500,351,331352,441,A small closed toilet in a cramped space.
4,517069,000000517069.jpg,http://farm2.staticflickr.com/1352/1046671269_...,http://images.cocodataset.org/val2017/00000051...,480,640,517069,447,Two women waiting at a bench next to a street.

### Check the shape of the img

In [2]:
df.shape

(25014, 9)

In [3]:
print("Number of images in csv file ", df['id'].nunique())

Number of images in csv file  5000

In [4]:
print("Number of annotations in csv file ",df['id_anno'].nunique())

Number of annotations in csv file  25014

In [5]:
#Count number of images through id
import json

with open('english/json/captions_val2017.json', 'r') as f:
    data = json.load(f)

count_img = 0
count_ann = 0
#Count number of images through id
for image in data['images']:
        count_img += 1
for ann in data['annotations']:
        count_ann += 1

print("Number of images in json file ",count_img)
print("Number of annotations in json file ",count_ann)

Number of images in json file  5000
Number of annotations in json file  25014

In [6]:
# df = df.sort_values(by="id", ascending=False)
# df.head()

## captions_train2017

In [7]:
df1 = pd.read_csv("english/csv/captions_train2017_converted.csv")

df1.head()

,id,file_name,flickr_url,coco_url,height,width,image_id,id_anno,caption
0,203564,000000203564.jpg,http://farm8.staticflickr.com/7366/9643253026_...,http://images.cocodataset.org/train2017/000000...,400,400,203564,37,A bicycle replica with a clock as the front wh...
1,322141,000000322141.jpg,http://farm8.staticflickr.com/7026/6388965173_...,http://images.cocodataset.org/train2017/000000...,480,640,322141,49,A room with blue walls and a white sink and door.
2,16977,000000016977.jpg,http://farm8.staticflickr.com/7003/6528937031_...,http://images.cocodataset.org/train2017/000000...,480,640,16977,89,A car that seems to be parked illegally behind...
3,106140,000000106140.jpg,http://farm6.staticflickr.com/5207/5304302785_...,http://images.cocodataset.org/train2017/000000...,480,640,106140,98,A large passenger airplane flying through the ...
4,106140,000000106140.jpg,http://farm6.staticflickr.com/5207/5304302785_...,http://images.cocodataset.org/train2017/000000...,480,640,106140,101,There is a GOL plane taking off in a partly cl...

In [8]:
print("Number of images in csv file ", df1.shape)
print("Number of images in csv file ", df1['id'].nunique())

Number of images in csv file  (591753, 9)
Number of images in csv file  118287

In [9]:
with open('english/json/captions_train2017.json', 'r') as f:
    data_train = json.load(f)

count_img_train = 0
count_ann_train = 0
#Count number of images through id
for image in data_train['images']:
        count_img_train += 1
for ann in data['annotations']:
        count_ann_train += 1

print("Number of images in json file ",count_img_train)
print("Number of annotations in json file ",count_ann_train)

Number of images in json file  118287
Number of annotations in json file  25014

## Caption_train2014

In [10]:
df2 = pd.read_csv("english/csv/captions_train2014_converted.csv")
df2.head()

,id,file_name,flickr_url,coco_url,height,width,image_id,id_anno,caption
0,318556,COCO_train2014_000000318556.jpg,http://farm4.staticflickr.com/3133/3378902101_...,http://images.cocodataset.org/train2014/COCO_t...,640,480,318556,48,A very clean and well decorated empty bathroom
1,116100,COCO_train2014_000000116100.jpg,http://farm9.staticflickr.com/8084/8329525274_...,http://images.cocodataset.org/train2014/COCO_t...,182,640,116100,67,A panoramic view of a kitchen and all of its a...
2,318556,COCO_train2014_000000318556.jpg,http://farm4.staticflickr.com/3133/3378902101_...,http://images.cocodataset.org/train2014/COCO_t...,640,480,318556,126,A blue and white bathroom with butterfly theme...
3,116100,COCO_train2014_000000116100.jpg,http://farm9.staticflickr.com/8084/8329525274_...,http://images.cocodataset.org/train2014/COCO_t...,182,640,116100,148,A panoramic photo of a kitchen and dining room
4,379340,COCO_train2014_000000379340.jpg,http://farm1.staticflickr.com/1/163009_b84730e...,http://images.cocodataset.org/train2014/COCO_t...,640,480,379340,173,A graffiti-ed stop sign across the street from...

In [11]:
print("Number of images in csv file ", df2.shape)
print("Number of images in csv file ", df2['id'].nunique())

Number of images in csv file  (414113, 9)
Number of images in csv file  82783

In [12]:
with open('english/json/captions_train2014.json', 'r') as f:
    data_train_2014 = json.load(f)

count_img_train_2014 = 0
count_ann_train_2014 = 0
#Count number of images through id
for image in data_train_2014['images']:
        count_img_train_2014 += 1
for ann in data_train_2014['annotations']:
        count_ann_train_2014 += 1

print("Number of images in json file ",count_img_train_2014)
print("Number of annotations in json file ",count_ann_train_2014)

Number of images in json file  82783
Number of annotations in json file  414113

## Caption_val2014

In [13]:
df3 = pd.read_csv("english/csv/captions_val2014_converted.csv")
df3.head()

,id,file_name,flickr_url,coco_url,height,width,image_id,id_anno,caption
0,203564,COCO_val2014_000000203564.jpg,http://farm8.staticflickr.com/7366/9643253026_...,http://images.cocodataset.org/val2014/COCO_val...,400,400,203564,37,A bicycle replica with a clock as the front wh...
1,179765,COCO_val2014_000000179765.jpg,http://farm3.staticflickr.com/2824/10213933686...,http://images.cocodataset.org/val2014/COCO_val...,480,640,179765,38,A black Honda motorcycle parked in front of a ...
2,322141,COCO_val2014_000000322141.jpg,http://farm8.staticflickr.com/7026/6388965173_...,http://images.cocodataset.org/val2014/COCO_val...,480,640,322141,49,A room with blue walls and a white sink and door.
3,16977,COCO_val2014_000000016977.jpg,http://farm8.staticflickr.com/7003/6528937031_...,http://images.cocodataset.org/val2014/COCO_val...,480,640,16977,89,A car that seems to be parked illegally behind...
4,106140,COCO_val2014_000000106140.jpg,http://farm6.staticflickr.com/5207/5304302785_...,http://images.cocodataset.org/val2014/COCO_val...,480,640,106140,98,A large passenger airplane flying through the ...

In [14]:
print("Number of images in csv file ", df3.shape)
print("Number of images in csv file ", df3['id'].nunique())

Number of images in csv file  (202654, 9)
Number of images in csv file  40504

In [15]:
with open('english/json/captions_val2014.json', 'r') as f:
    data_val_2014 = json.load(f)

count_img_val_2014 = 0
count_ann_val_2014 = 0
#Count number of images through id
for image in data_val_2014['images']:
        count_img_val_2014 += 1
for ann in data_val_2014['annotations']:
        count_ann_val_2014 += 1

print("Number of images in json file ",count_img_val_2014)
print("Number of annotations in json file ",count_ann_val_2014)

Number of images in json file  40504
Number of annotations in json file  202654

# Vietnamese dataset

## Captions_train2017

In [16]:
df4 = pd.read_csv("vietnamese/csv/captions_train2017_trans_converted.csv")
df4.head()

,id,file_name,flickr_url,coco_url,height,width,image_id,id_anno,caption
0,203564,000000203564.jpg,http://farm8.staticflickr.com/7366/9643253026_...,http://images.cocodataset.org/train2017/000000...,400,400,203564,37,Một bản sao xe đạp với một chiếc đồng hồ làm b...
1,322141,000000322141.jpg,http://farm8.staticflickr.com/7026/6388965173_...,http://images.cocodataset.org/train2017/000000...,480,640,322141,49,Một căn phòng với những bức tường màu xanh và ...
2,16977,000000016977.jpg,http://farm8.staticflickr.com/7003/6528937031_...,http://images.cocodataset.org/train2017/000000...,480,640,16977,89,Một chiếc xe dường như được đậu bất hợp pháp đ...
3,106140,000000106140.jpg,http://farm6.staticflickr.com/5207/5304302785_...,http://images.cocodataset.org/train2017/000000...,480,640,106140,98,Một chiếc máy bay chở khách lớn đang bay trên ...
4,106140,000000106140.jpg,http://farm6.staticflickr.com/5207/5304302785_...,http://images.cocodataset.org/train2017/000000...,480,640,106140,101,Có một chiếc máy bay GOL cất cánh trên bầu trờ...

In [17]:
print("Number of images in csv file ", df4.shape)
print("Number of images in csv file ", df4['id'].nunique())

Number of images in csv file  (591753, 9)
Number of images in csv file  118287

In [18]:
with open('vietnamese/json/captions_train2017_trans.json', 'r') as f:
    data_train_2017_trans = json.load(f)

count_img_train_2017_trans = 0
count_ann_train_2017_trans = 0
#Count number of images through id
for image in data_train_2017_trans['images']:
        count_img_train_2017_trans += 1
for ann in data_train_2017_trans['annotations']:
        count_ann_train_2017_trans += 1

print("Number of images in json file ",count_img_train_2017_trans)
print("Number of annotations in json file ",count_ann_train_2017_trans)

Number of images in json file  118287
Number of annotations in json file  591753

## Captions_val2017

In [19]:
df5 = pd.read_csv("vietnamese/csv/captions_val2017_trans_converted.csv")
df5.head()

,id,file_name,flickr_url,coco_url,height,width,image_id,id_anno,caption
0,179765,000000179765.jpg,http://farm3.staticflickr.com/2824/10213933686...,http://images.cocodataset.org/val2017/00000017...,480,640,179765,38,Một chiếc xe máy Honda màu đen đậu trước gara.
1,179765,000000179765.jpg,http://farm3.staticflickr.com/2824/10213933686...,http://images.cocodataset.org/val2017/00000017...,480,640,179765,182,Một chiếc xe máy Honda đậu trên đường lái xe cỏ
2,190236,000000190236.jpg,http://farm1.staticflickr.com/244/535469198_ee...,http://images.cocodataset.org/val2017/00000019...,393,640,190236,401,Một phòng làm việc với bốn loại máy tính khác ...
3,331352,000000331352.jpg,http://farm1.staticflickr.com/53/136223761_776...,http://images.cocodataset.org/val2017/00000033...,500,351,331352,441,Một nhà vệ sinh nhỏ khép kín trong một không g...
4,517069,000000517069.jpg,http://farm2.staticflickr.com/1352/1046671269_...,http://images.cocodataset.org/val2017/00000051...,480,640,517069,447,Hai phụ nữ đang chờ ở một băng ghế bên cạnh mộ...

In [20]:
print("Number of images in csv file ", df5.shape)
print("Number of images in csv file ", df5['id'].nunique())

Number of images in csv file  (25014, 9)
Number of images in csv file  5000

In [21]:
with open('vietnamese/json/captions_val2017_trans.json', 'r') as f:
    data_val_2017_trans = json.load(f)

count_img_val_2017_trans = 0
count_ann_val_2017_trans = 0
#Count number of images through id
for image in data_val_2017_trans['images']:
        count_img_val_2017_trans += 1
for ann in data_val_2017_trans['annotations']:
        count_ann_val_2017_trans += 1

print("Number of images in json file ",count_img_val_2017_trans)
print("Number of annotations in json file ",count_ann_val_2017_trans)

Number of images in json file  5000
Number of annotations in json file  25014

In [1]:
import pandas as pd

df_30k = pd.read_csv("flickr30k_translated.csv")
df_30k.head()

,image_name,comment_0,comment_1,comment_2,comment_3,comment_4,vi_comment_0,vi_comment_1,vi_comment_2,vi_comment_3,vi_comment_4
0,../input/flickr-image-dataset/flickr30k_images...,Two young guys with shaggy hair look at their...,"Two young , White males are outside near many...",Two men in green shirts are standing in a yard .,A man in a blue shirt standing in a garden .,Two friends enjoy time spent together .,Hai chàng trai trẻ tóc xoăn nhìn tay họ trong ...,2 con đực da trắng ở bên ngoài gần những bụi cây.,Hai người mặc áo sơ mi đang đứng trong sân.,Một người đàn ông mặc áo sơ mi màu xanh đứng t...,Hai người bạn vui chơi chung với nhau.
1,../input/flickr-image-dataset/flickr30k_images...,Several men in hard hats are operating a gian...,Workers look down from up above on a piece of...,Two men working on a machine wearing hard hats .,Four men on top of a tall structure .,Three men on a large rig .,Nhiều người cứng đầu đang điều khiển một hệ th...,nhìn xuống từ trên trên trên trên trên trên mộ...,Hai người đàn ông làm việc trên một cỗ máy cứn...,Bốn người đứng đầu một tòa nhà.,Ba người trên một giàn khoan lớn.
2,../input/flickr-image-dataset/flickr30k_images...,A child in a pink dress is climbing up a set ...,A little girl in a pink dress going into a wo...,A little girl climbing the stairs to her play...,A little girl climbing into a wooden playhouse,A girl going into a wooden building .,Một đứa trẻ mặc váy hồng đang bước vào một lối...,Một cô gái nhỏ mặc váy hồng đang đi vào một ng...,Một cô bé đi cầu thang đến nhà chơi.,♪ Một cô gái nhỏ bước vào một vở kịch,Một cô gái đang đi vào một tòa nhà gỗ.
3,../input/flickr-image-dataset/flickr30k_images...,Someone in a blue shirt and hat is standing o...,A man in a blue shirt is standing on a ladder...,A man on a ladder cleans the window of a tall...,man in blue shirt and jeans on ladder cleanin...,a man on a ladder cleans a window,Ai đó mặc áo sơ mi và đội mũ đang đứng trên cầ...,Có một người mặc áo sơ mi màu xanh đang đứng t...,Một người đàn ông trên thang rửa cửa sổ của mộ...,người đàn ông mặc áo xanh áo xanh và quần áo v...,♪ người đàn ông trên một cái thang ♪ ♪ trên cử...
4,../input/flickr-image-dataset/flickr30k_images...,"Two men , one in a gray shirt , one in a blac...",Two guy cooking and joking around with the ca...,Two men in a kitchen cooking food on a stove .,Two men are at the stove preparing food .,Two men are cooking a meal .,"Hai người đàn ông, một trong một áo sơ mi, một...",Hai gã đang đùa giỡn với cái máy quay.,Hai người đàn ông trong một nhà bếp nấu ăn nấu...,Hai người đang chuẩn bị thức ăn.,Hai người đàn ông đang nấu ăn.

In [2]:
df_30k.iloc[0, 0]

'../input/flickr-image-dataset/flickr30k_images/flick30k_images/1000092795.jpg'

In [5]:
df_re = pd.read_csv("results.csv", header=None, sep="|")
df_re.head()

,0,1,2
0,image_name,comment_number,comment
1,1000092795.jpg,0,Two young guys with shaggy hair look at their...
2,1000092795.jpg,1,"Two young , White males are outside near many..."
3,1000092795.jpg,2,Two men in green shirts are standing in a yard .
4,1000092795.jpg,3,A man in a blue shirt standing in a garden .